[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django-rest-swagger = "*"
djangorestframework = "*"
django-cors-headers = "*"
Django = "==3.0.2"

[dev-packages]

[requires]
python_version = "3.8"
